body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}
.hero {
    
    height: 500px;
    background-color: #1f2937;
    color: white;
    
}
.header {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
}
.right-links {
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 60px;
}
header {
    margin-left: 60px;
    margin-top: 12px;
    font-size: 32px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 325px;
}
.hero-big {
    width: 500px;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-left: 60px;
}
button.newsletter {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 150px;
    height: 45px;
    margin-left: 205px;
}
.hero-image {
    display: flex;
    justify-content: center;
    margin-top: -125px;
    margin-right: 175px;
    margin-left: 550px;
}
.hero-text {
    margin-left: 60px;
    font-size: 18px;
    color: #f9faf8;
}
.hero-hops {
    width: 400px;
    height: 300px;
}


ul{
    list-style-type: none;
}

a {
    background-image: linear-gradient(
        to right,
        #700315,
        #700315 50%,
        #f9faf8 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
a:before {
    content: '';
    background: #700315;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
a:hover {
    background-position: 0;
}
a:hover::before {
    width: 100%;
}
